*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  position: relative; }

::selection {
  background-color: #99A1FF; }

.primary-heading {
  font-size: 8rem;
  margin-bottom: 4rem;
  text-shadow: 0px 5px 10px #292929; }
  @media only screen and (max-width: 56.25em) {
    .primary-heading {
      font-size: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .primary-heading {
      font-size: 5rem;
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 25.875em) {
    .primary-heading {
      font-size: 4rem; } }
  @media only screen and (max-width: 20em) {
    .primary-heading {
      font-size: 3rem; } }

.secondary-heading {
  font-size: 5rem;
  font-weight: 100;
  margin-bottom: 6rem; }
  @media only screen and (max-width: 25.875em) {
    .secondary-heading {
      font-size: 3rem; } }
  @media only screen and (max-width: 20em) {
    .secondary-heading {
      font-size: 2.5rem; } }
  .secondary-heading::before {
    content: "";
    position: absolute;
    height: 5px;
    top: 35%;
    left: 24rem;
    width: 2em;
    border-top: 1px solid #99A1FF; }
    @media only screen and (max-width: 56.25em) {
      .secondary-heading::before {
        content: none; } }
  .secondary-heading::after {
    content: "";
    position: absolute;
    height: 5px;
    top: 35%;
    right: 24rem;
    width: 2em;
    border-top: 1px solid #99A1FF; }
    @media only screen and (max-width: 56.25em) {
      .secondary-heading::after {
        content: none; } }

.container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
  height: 100vh;
  background-size: cover;
  z-index: 10; }
  @media only screen and (max-width: 56.25em) {
    .container {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(../media/kh3-mobile.jpg);
      background-size: cover;
      background-position: center; } }
  .container__sound {
    display: flex;
    justify-content: flex-end;
    font-size: 4rem;
    padding: 3rem 4rem; }
    @media only screen and (max-width: 56.25em) {
      .container__sound {
        display: none; } }
  .container__icon {
    cursor: pointer;
    transition: all .3s; }
    .container__icon:hover {
      color: #99A1FF;
      transform: scale(1.05); }
  .container__video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden; }
    @media only screen and (max-width: 37.5em) {
      .container__video {
        display: none; } }
  .container__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .container__text-box {
    position: absolute;
    width: 114rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    @media only screen and (max-width: 56.25em) {
      .container__text-box {
        width: 100%; } }
  .container__countdown {
    font-size: 8rem;
    font-weight: 100;
    color: #fff;
    text-shadow: 0px 5px 10px #292929;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 6rem; }
    .container__countdown--1 {
      display: block; }
    .container__countdown--2 {
      display: block;
      color: #99A1FF;
      font-size: 3.5rem; }
      @media only screen and (max-width: 25.875em) {
        .container__countdown--2 {
          font-size: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .container__countdown {
        font-size: 6rem; } }
    @media only screen and (max-width: 25.875em) {
      .container__countdown {
        font-size: 4.5rem; } }
  .container__countdown-box {
    padding: 0 2.5rem; }
    @media only screen and (max-width: 56.25em) {
      .container__countdown-box {
        padding: 0 1.5rem; } }
  .container__available {
    display: none;
    color: #99A1FF; }
  .container__button {
    cursor: pointer;
    outline: none;
    font-size: 2.8rem;
    padding: .8rem;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    border: 1px solid transparent;
    transition: all .5s; }
    .container__button:hover {
      color: #d9dcff;
      border-bottom: 2px solid #99A1FF; }
